Danginz.Core/lions-den-xsd/compendium.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="compendium" type="compendiumType"/>
    <xs:complexType name="featureType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="text" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="autolevelType" mixed="true">
        <xs:sequence>
            <xs:element type="featureType" name="feature" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:byte" name="level" use="optional"/>
    </xs:complexType>
    <xs:complexType name="classType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="hd"/>
            <xs:element type="xs:string" name="Proficiency"/>
            <xs:element type="xs:string" name="spellAbility"/>
            <xs:element type="autolevelType" name="autolevel" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="itemType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="type"/>
            <xs:element type="xs:string" name="magic"/>
            <xs:element type="xs:string" name="weight"/>
            <xs:element type="xs:string" name="ac"/>
            <xs:element type="xs:string" name="strength"/>
            <xs:element type="xs:string" name="stealth"/>
            <xs:element type="xs:string" name="dmg1"/>
            <xs:element type="xs:string" name="dmg2"/>
            <xs:element type="xs:string" name="dmgType"/>
            <xs:element type="xs:string" name="property"/>
            <xs:element type="xs:string" name="range"/>
            <xs:element type="xs:string" name="text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="traitType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="actionType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="text"/>
            <xs:element type="xs:string" name="attack"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="reactionType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="text"/>
            <xs:element type="xs:string" name="attack"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="legendaryType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="text"/>
            <xs:element type="xs:string" name="attack"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="monsterType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="size"/>
            <xs:element type="xs:string" name="type"/>
            <xs:element type="xs:string" name="alignment"/>
            <xs:element type="xs:string" name="ac"/>
            <xs:element type="xs:string" name="hp"/>
            <xs:element type="xs:string" name="speed"/>
            <xs:element type="xs:string" name="str"/>
            <xs:element type="xs:string" name="dex"/>
            <xs:element type="xs:string" name="con"/>
            <xs:element type="xs:string" name="int"/>
            <xs:element type="xs:string" name="wis"/>
            <xs:element type="xs:string" name="cha"/>
            <xs:element type="xs:string" name="save"/>
            <xs:element type="xs:string" name="skill"/>
            <xs:element type="xs:string" name="resist"/>
            <xs:element type="xs:string" name="vulnerable"/>
            <xs:element type="xs:string" name="immune"/>
            <xs:element type="xs:string" name="conditionImmune"/>
            <xs:element type="xs:string" name="senses"/>
            <xs:element type="xs:string" name="passive"/>
            <xs:element type="xs:string" name="languages"/>
            <xs:element type="xs:string" name="cr"/>
            <xs:element type="traitType" name="trait"/>
            <xs:element type="actionType" name="action"/>
            <xs:element type="reactionType" name="reaction"/>
            <xs:element type="legendaryType" name="legendary"/>
            <xs:element type="xs:string" name="spells"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="raceType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="size"/>
            <xs:element type="xs:string" name="speed"/>
            <xs:element type="xs:string" name="ability"/>
            <xs:element type="traitType" name="trait"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="spellType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="level"/>
            <xs:element type="xs:string" name="school"/>
            <xs:element type="xs:string" name="ritual"/>
            <xs:element type="xs:string" name="time">
                <xs:annotation>
                    <xs:documentation>if yes ritual, use &lt;ritual>YES&lt;/ritual></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="range"/>
            <xs:element type="xs:string" name="components"/>
            <xs:element type="xs:string" name="duration"/>
            <xs:element type="xs:string" name="classes"/>
            <xs:element type="xs:string" name="text"/>
            <xs:element type="xs:string" name="roll" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="compendiumType">
        <xs:sequence>
            <xs:element type="classType" name="class"/>
            <xs:element type="itemType" name="item"/>
            <xs:element type="monsterType" name="monster"/>
            <xs:element type="raceType" name="race"/>
            <xs:element type="spellType" name="spell"/>
        </xs:sequence>
        <xs:attribute type="xs:byte" name="version"/>
    </xs:complexType>
</xs:schema>