Danginz.Core/lions-den-xsd/spell.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="compendium" type="compendiumType"/>
    <xs:complexType name="spellType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:byte" name="level"/>
            <xs:element type="xs:string" name="school"/>
            <xs:element type="xs:string" name="ritual" minOccurs="0"/>
            <xs:element type="xs:string" name="time"/>
            <xs:element type="xs:string" name="range"/>
            <xs:element type="xs:string" name="components"/>
            <xs:element type="xs:string" name="duration"/>
            <xs:element type="xs:string" name="classes"/>
            <xs:element type="xs:string" name="text" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="xs:string" name="roll" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="compendiumType">
        <xs:sequence>
            <xs:element type="spellType" name="spell" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:byte" name="version"/>
    </xs:complexType>
</xs:schema>